* {
  font-family: Helvetica, Arial, sans-serif;
}

.header {
  width: 100%;
  height: 5vh;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.pre {
  margin-left: 18vh !important;
}

#typePad, .pre {
  display: inline-block;
  margin: 30vh auto;
  padding: 10px 20px;
  font-size: 6vh;
  font-family: monospace;
  text-align: center;
}

#typePad .sentence {
  display: none;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.cursor{
  opacity: 1;
  animation: blink 0.7s infinite;
}
