nav.header {
  position: fixed;
  top: 0;
  background-color: #FFFFFF;
  width: 100%;
  height: 70px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.header__icon {
  padding-left: 10px;
  line-height: 70px;
  font-size: 5vh;
  font-weight: lighter;
  color: #000000;
}

.header__icon__home {
  position: absolute;
  right: 10px;
  line-height: 70px;
  font-size: 5vh;
  font-weight: lighter;
  color: #000000;
}

.header__logo {
  font-family: monospace;
  position: absolute;
  right: 10px;
  font-size: 3vh;
  color: #000000;
}

.header__text {

}

.content {
  text-align: center;
  margin: 30vh auto;
}

.content__cv {
  max-width: 80%;
}

.content__cv__start {
  margin-top: 120px;
}

/* MOBILE */
@media (max-width: 700px) {
  .content__cv__h1 {
    font-family: monospace;
    font-size: 35px;
    margin-left: 20px;
    margin-top: 60px;
  }
}

@media (max-width: 700px) {
  .content__cv__h2 {
    font-family: monospace;
    font-size: 25px;
    margin-left: 30px;
    margin-top: 20px;
  }
}

@media (max-width: 700px) {
  .content__cv__p {
    font-family: monospace;
    font-size: 12px;
    margin-left: 40px;
    margin-top: 20px;
  }
}

/* DESKTOP AND TABLET */
@media (min-width: 700px) {
  .content__cv__h1 {
    font-family: monospace;
    font-size: 45px;
    margin-left: 100px;
    margin-top: 60px;
  }
}

@media (min-width: 700px) {
  .content__cv__h2 {
    font-family: monospace;
    font-size: 35px;
    margin-left: 120px;
    margin-top: 20px;
  }
}

@media (min-width: 700px) {
  .content__cv__p {
    font-family: monospace;
    font-size: 20px;
    margin-left: 120px;
    margin-top: 20px;
  }
}

.content__cv__p__link {
  color: #000000;
}

.content__cv__end {
  margin-bottom: 100px;
}

#typePad, .pre {
  display: inline-block;
  padding: 10px 12px;
  font-size: 6vh;
  font-family: monospace;
  text-align: center;
}

#typePad .sentence {
  display: none;
}

span {
  line-height: 75px;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.cursor{
  opacity: 1;
  animation: blink 0.7s infinite;
}

.footer {
  position: fixed;
  width: 100%;
  height: 8vh;
  bottom: 0;
  text-align: center;
  background-color: #FFFFFF;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.footer__link {
  line-height: 10vh;
}

.footer__link__img {
  display: inline-block;
  width: 35px;
  margin-top: 8px;
  margin-left: 10px;
}

.footer__logo {
  line-height: normal;
  font-size: 10px;
  position: fixed;
  right: 1vh;
  bottom: 1vh;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 100;
}

.footer__logo__bold {
  font-weight: 400;
}

.bold {
  font-weight: bolder;
}
